html {
    background-image: url("../bilder/Cloud.jpg");
}

header {
    width: auto;
    height: 220px;
    margin-right: 10%;
    margin-left: 15%;
    background-color: rgba(100,100,100,0.7);
    
    
}

img {
    float: right;
}

.checked {
    color: orange;
}

main {
    width:auto;
    margin-right: 20%;
    margin-left: 15%;
    background-color: rgba(100,100,100,0.4)
    
    }
aside {
    width: 20%;
    float: right;
    margin-right: 10%;
    border-left: 3px solid black;
    background-color: rgba(100,100,100,0.4)
        
}

h1 { 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
h2 {
    text-align: center;
    font-family: 'Open sans', sans-serif;
}
p {
    font-family: 'Playfair Display', serif;
}
blockquote {
    font-family: 'Pacifico', cursive;
}
q {
    font-family: 'Pacifico', cursive;
}
.signatur {
    font-weight: ,bold;
}
header>p {
    color: lightgray;
}
aside>h3 {
    text-align: left;
    color: black;
}